In [3]:
#!pip install pandas

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("df_combined.csv")

In [6]:
df.head(20)

,timestamp,value_id,value,name,description
0,2011-07-01 00:00:00,1,16.0,temperature,the average temperature in degrees celcius
1,2011-07-01 00:00:00,2,28.0,wind_speed,the average wind speed in kilometers per hour
2,2011-07-01 00:00:00,3,215.0,wind_direction,the compus bearing from where the wind is comi...
3,2011-07-01 00:00:00,4,0.1,precipitation,the total rainfall in mm
4,2011-07-01 00:00:00,5,82.0,humidity,the relative humidity
5,2011-07-01 00:00:00,6,10.0,visibility,the distance in kilometers
6,2011-07-01 00:00:00,7,1011.0,pressure,the average air pressure in millibars
7,2011-07-01 00:00:00,8,18.0,cloud_cover,the average cloud cover percentage
8,2011-07-01 00:00:00,9,11.0,dew_point,the dew point in degrees celcius
9,2011-07-01 00:00:00,10,45.0,wind_gust,the maximum wind gust speed in kilometers per ...
10,2011-07-01 01:00:00,1,15.0,temperature,the average temperature in degrees celcius
11,2011-07-01 01:00:00,2,26.0,wind_speed,the average wind speed in kilometers per hour
12,2011-07-01 01:00:00,3,170.0,wind_direction,the compus bearing from where the wind is comi...
13,2011-07-01 01:00:00,4,0.0,precipitation,the total rainfall in mm
14,2011-07-01 01:00:00,5,80.0,humidity,the relative humidity
15,2011-07-01 01:00:00,6,10.0,visibility,the distance in kilometers
16,2011-07-01 01:00:00,7,1013.0,pressure,the average air pressure in millibars
17,2011-07-01 01:00:00,8,24.0,cloud_cover,the average cloud cover percentage
18,2011-07-01 01:00:00,9,10.0,dew_point,the dew point in degrees celcius
19,2011-07-01 01:00:00,10,43.0,wind_gust,the maximum wind gust speed in kilometers per ...

In [8]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [21]:
def return_value(x):
    return x

In [34]:
df_flipped = pd.pivot_table(df,values='value', index=['timestamp'],columns=['name'],aggfunc=return_value).reset_index()

In [43]:
df_flipped.to_csv("df.csv",index=False)

In [45]:
df = pd.read_csv("df.csv")
df.tail()

,timestamp,cloud_cover,dew_point,humidity,precipitation,pressure,temperature,visibility,wind_direction,wind_gust,wind_speed
64243,2018-10-28 19:00:00,2.0,15.0,73.0,0.0,1014.0,23.0,10.0,163.0,36.0,26.0
64244,2018-10-28 20:00:00,5.0,14.0,77.0,0.0,1014.0,22.0,10.0,160.0,37.0,24.0
64245,2018-10-28 21:00:00,7.0,14.0,81.0,0.0,1015.0,22.0,10.0,157.0,37.0,23.0
64246,2018-10-28 22:00:00,11.0,14.0,83.0,0.0,1015.0,21.0,10.0,154.0,36.0,21.0
64247,2018-10-28 23:00:00,15.0,14.0,84.0,0.0,1015.0,21.0,10.0,152.0,35.0,20.0

In [46]:
24 * 365 * 7

61320

In [47]:
61320 * 900

55188000

In [13]:
df_example.head()

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6

In [14]:
import numpy as np

In [19]:
table = pd.pivot_table(df_example, values='D', index=[ 'B'],
                    columns=['C'], aggfunc=np.sum)

In [20]:
table

C    large  small
B
one      8      6
two      7     12

In [23]:
df_stackoverflow = pd.DataFrame({'col1': [1, 1, 2, 3], 'col2': [4, 4, 5, 6], 'col3': [7, 10, 8, 9]})
df_stackoverflow

   col1  col2  col3
0     1     4     7
1     1     4    10
2     2     5     8
3     3     6     9

In [ ]:
q