In [3]:
#!pip install pandas

In [1]:
import pandas as pd

In [3]:
df_history = pd.read_csv("historic_data.csv")
df_values = pd.read_csv("value_types.csv")

In [5]:
df_history.head()

   2011-07-01 00:00:00  1   16.0
0  2011-07-01 00:00:00  2   28.0
1  2011-07-01 00:00:00  3  215.0
2  2011-07-01 00:00:00  4    0.1
3  2011-07-01 00:00:00  5   82.0
4  2011-07-01 00:00:00  6   10.0

In [7]:
df_values.head(10)

    1     temperature         the average temperature in degrees celcius
0   2      wind_speed      the average wind speed in kilometers per hour
1   3  wind_direction  the compus bearing from where the wind is comi...
2   4   precipitation                           the total rainfall in mm
3   5        humidity                              the relative humidity
4   6      visibility                         the distance in kilometers
5   7        pressure              the average air pressure in millibars
6   8     cloud_cover                 the average cloud cover percentage
7   9       dew_point                   the dew point in degrees celcius
8  10       wind_gust  the maximum wind gust speed in kilometers per ...

In [8]:
df_values.shape

(9, 3)

In [9]:
df_history.shape

(642479, 3)