In [3]:
#!pip install pandas

In [1]:
import pandas as pd

In [2]:
df_history = pd.read_csv("historic_data.csv")
df_values = pd.read_csv("value_types.csv")

In [3]:
df_history.head()

             timestamp  value_id  value
0  2011-07-01 00:00:00         1   16.0
1  2011-07-01 00:00:00         2   28.0
2  2011-07-01 00:00:00         3  215.0
3  2011-07-01 00:00:00         4    0.1
4  2011-07-01 00:00:00         5   82.0

In [4]:
df_values.head(10)

   value_id            name                                        description
0         1     temperature         the average temperature in degrees celcius
1         2      wind_speed      the average wind speed in kilometers per hour
2         3  wind_direction  the compus bearing from where the wind is comi...
3         4   precipitation                           the total rainfall in mm
4         5        humidity                              the relative humidity
5         6      visibility                         the distance in kilometers
6         7        pressure              the average air pressure in millibars
7         8     cloud_cover                 the average cloud cover percentage
8         9       dew_point                   the dew point in degrees celcius
9        10       wind_gust  the maximum wind gust speed in kilometers per ...

In [8]:
df_values.shape

(9, 3)

In [9]:
df_history.shape

(642479, 3)

In [5]:
df = df_history.merge(df_values, on='value_id',how='left')

In [6]:
df.shape

(642480, 5)

In [7]:
df.head()

,timestamp,value_id,value,name,description
0,2011-07-01 00:00:00,1,16.0,temperature,the average temperature in degrees celcius
1,2011-07-01 00:00:00,2,28.0,wind_speed,the average wind speed in kilometers per hour
2,2011-07-01 00:00:00,3,215.0,wind_direction,the compus bearing from where the wind is comi...
3,2011-07-01 00:00:00,4,0.1,precipitation,the total rainfall in mm
4,2011-07-01 00:00:00,5,82.0,humidity,the relative humidity

In [9]:
df.to_csv('df_combined.csv',index=False)